*{
	box-sizing: border-box;
}

h1{
	margin-bottom: 15px;
	text-align: center;
}

p{
	border: 2px solid black;
	margin: 0px 0px 5px 0px;
	width: 30%;
	text-align: center;
	position: absolute;
	top: -2px;
	right: -2px;

}
.p1{
	background-color: pink;
}
.p2{
	background-color: red;
}
.p3{
	background-color: yellow;
}

.s{
	padding-top: 15px;
}
.d{
	background-color: #ccc;
	border: 2px solid black;
	position: relative;
	padding: 10px;
	margin: 10px;

}

.row{
	width: 100%;
}

@media(min-width: 992px){
	.col-lg-4{
		float: left;
	}
.col-lg-4{
	width: 33%;
}
}


@media(min-width: 768px) and (max-width: 991px){
	.col-md-6, .col-md-12{
		float: left;
	}
.col-md-6{
	width: 50%;
}
.col-md-12{
	width: 100%;
}
}

@media(max-width: 767px){
	.col-sm-12{
		float: left;
	}
.col-sm-12{
	width: 100%;
}
}
